<html>
  <head>
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>My Todo List</h1>
    <div id="todo-table"></div>
    <form id="todo-form">
      <input type="text" name="item" placeholder="Add new item.... " required />
      <button type="submit">Add Item</button>
    </form>

    <ul>
      <% for(var i=0; i < todos.length; i++){ %>
      <li><%= todos[i].item %></li>
      <% } %>
    </ul>

    <script>
      $(document).ready(function () {
        $("form").on("submit", function (e) {
          e.preventDefault();

          var item = $("form input");
          var todo = { item: item.val() };

          $.ajax({
            type: "POST",
            url: "/todo",
            data: todo,
            success: function (data) {
              //do something with the data via front-end framework
              location.reload();
            },
          });

          return false;
        });

        $("li").on("click", function () {
          var item = $(this).text().replace(/ /g, "-");
          $.ajax({
            type: "DELETE",
            url: "/todo/" + item,
            success: function (data) {
              //do something with the data via front-end framework
              location.reload();
            },
          });
        });
      });
    </script>
  </body>
</html>